body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid #fff;
    animation: avatar-fade-in 1s;
}

header .name {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
    animation: name-fade-in 1s ease-in-out forwards;
    text-align: center;
}

@keyframes avatar-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes name-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

main {
    padding: 50px;
}

.projetos ul {
    width: 100%;
    margin: 2% 0;
}

.projetos li {
    width: 100%;
    text-align: center;
}

.projetos h2:nth-child(1) {
    font-size: 35px;
}

.projetos ul h2 {
    font-size: 18px;
}

.projetos img {
    width: 50%;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .projetos ul, .projetos li {
        width: 100%;
    }

    .projetos img {
        width: 100%;
    }
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.social a img {
    width: 50px;
}

.social ul {
    display: flex;
    justify-content: center;
}

.social li {
    margin: 10px;
}

.social {
    text-align: center;
}

p a {
    color: white;
}

p {
    text-align: center;
    font-weight: 500;
}


footer {
    text-align: center;
    padding: 20px;
}